<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>EnSeñas</title>
        <link rel="stylesheet" href="styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">    </head>
    <body>
        <header>
            <nav class="navbar">
                <a href="start.html" class="navlogo">
                    <img src="../images/Logo.jpg" alt="Logo de EnSeñas">
                </a>
                <ul class="navlinks">
                    <li><a href="#">Ayuda</a></li>
                    <li><a href="login.html">Iniciar Sesión</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <div class="contintro">
                <div class="textstart">
                    <h1>¡Comunicate sin barreras!</h1>
                    <h5>Aprende lenguaje de señas y conecta con el mundo.</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget purus leo. Etiam quis ante mauris. Curabitur varius tristique dignissim. Cras malesuada magna ipsum, quis efficitur augue lacinia non. Aliquam facilisis hendrerit velit ut sagittis.</p>
                    <button class="purplebutton">Comenzar hoy</button>
                </div>
                <div class="imagestart">
                    <img src="../images/Pet.png" alt="Imagen de la mascota">
                </div>
            </div>
            <div class="continfo">
                <h1>¿Qué es EnSeñas?</h1>

            </div>
            <h1 class="centertext">Nuestro equipo</h1>
            <div class="contteam">

            </div>
        </main>
        <footer>
            <div class="">

            </div>
        </footer>
    </body>
</html>