{% extends 'base.html' %}
{% load static %}

{% block title %}Lecciones{% endblock %}

{% block navlinks %}
<li><a href="#">Ayuda</a></li>
<li><a href="{% url 'manual' %}">Manual</a></li>
<li><a href="{% url 'lessons_list' %}">Lecciones</a></li>
<li><a href="{% url 'profile' %}" class="purplebutton"><span>Perfil</span></a></li>
{% endblock %}

{% block main %}
    <div class="row_five">
        <div class="content">
            <div class="content-main">
                <ul> 
                    {% for imagen in lesson_images %} 
                        <li><img src="{{imagen.image.url}}"></li> 
                    {% endfor %} 
                    </ul>
                <p>{{ lesson.question }}</p>
                <p>{{ lesson.response }}</p>
            </div>
        </div>
    </div>
{% endblock %}
