{% extends 'base.html' %}
{% load static %}

{% block title %}Lecciones{% endblock %}

{% block navlinks %}
    <li><a href="{% url 'home' %}">Hogar</a></li>
    <li><a href="{% url 'manual' %}">Manual</a></li>
    <li><a href="{% url 'lessons_list' %}">Lecciones</a></li>
    <li><a href="{% url 'profile' %}" class="purplebutton"><span>Perfil</span></a></li>
{% endblock %}

{% block main %}
    <div class="row_five">
        <div class="content">
            <div class="content-main">
                <div class="content-lessons">
                    <h1 class="heading-title">Lecciones:</h1>
                    <div class="lessons-container">
                        {% for lesson in lessons %}
                            <div class="lesson">
                            <h3>LECCIÓN {{lesson.lesson.number}}</h3>
                            {% if lesson.finished%}
                            <button class="terminada"><a href="{% url 'lesson_detail' number=lesson.lesson.number %}">Terminada</a></button>
                            {% else %}
                            <button class="lesson active"><a href="{% url 'lesson_detail' number=lesson.lesson.number %}">Ir</a></button>
                            {% endif %}
                        </div>
                        {% endfor %}
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
