{% extends 'base.html' %}
{% load static %}

{% block title %}Lecciones{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/design.css' %}">
{% endblock %}

{% block navlinks %}
    <li><a href="#">Ayuda</a></li>
    <li><a href="{% url 'login' %}">Iniciar Sesión</a></li>
    <li><a href="{% url 'profile' %}">Perfil</a></li>
    <li><a href="{% url 'lessons' %}">Lecciones</a></li>
{% endblock %}

{% block main %}
    <div class="row_five">
        <div class="content">
            <div class="content-main">
                <ul> 
                    {% for imagen in lesson_images %} 
                        <li><img src="{{imagen.image.url}}"></li> 
                    {% endfor %} 
                    </ul>
                <p>{{ lesson.question }}</p>
                <p>{{ lesson.response }}</p>
            </div>
        </div>
    </div>
{% endblock %}
