{% extends 'base.html' %}

{% load static %}

{% block title %}Inicio de sesión{% endblock %}

{% block navlinks %}
    <li><a href="#">Ayuda</a></li>
    <li><a href="{% url 'login' %}">Iniciar Sesión</a></li>
{% endblock %}

{% block main %}
<div class="form-container">
    <img src="{% static 'images/pet.png' %}" alt="Mascota" class="mascota">
    <form class="register-form">
        <h2>Registro</h2>
        <input type="text" placeholder="Nombre" required>
        <input type="text" placeholder="Apellido" required>
        <input type="email" placeholder="Correo electronico" required>
        <input type="password" placeholder="Contraseña" required>
        <button type="submit">Registrarse</button>
        <p><a href="#">Quiero iniciar sesión</a></p>
    </form>
</div>
{% endblock %}