{% extends 'base.html' %}

{% load static %}

{% block title %}Inicio de sesión{% endblock %}

{% block navlinks %}
    <li><a href="#">Ayuda</a></li>
    <li><a href="{% url 'login' %}">Iniciar Sesión</a></li>
{% endblock %}

{% block main %}
   <div class="login-container">
    <h2>INICIO DE SESION</h2>
    <form>
        <input type="email" placeholder="Correo electrónico" required>
        <input type="password" placeholder="Contraseña" required>
        <div class="checkbox-container">
            <input type="checkbox" id="remember">
            <label for="remember">Recordar inicio de sesión</label>
        </div>
        <button class="yellowbutton" type="submit">Iniciar sesión</button>
    </form>
    <div class="register">
        <p>¿No tienes una cuenta? <a href="#">Regístrate</a></p>
    </div>
</div> 
{% endblock %}
