{% extends 'base.html' %}

{% load static %}

{% block title %}Inicio de sesión{% endblock %}

{% block navlinks %}
    <li><a href="#">Ayuda</a></li>
    <li><a href="{% url 'login' %}" class="purplebutton"><span>Ingresar</span></a></li>
{% endblock %}

{% block main %}
   <div class="form-container">
    <form class="forms" method="post">
        {% csrf_token %}
        <h2>INICIO DE SESION</h2>
        <input type="text" name="username" placeholder="Nombre de usuario" required>
        <input type="password" name="password" placeholder="Contraseña" required>
        <div class="checkbox-container">
            <input type="checkbox" id="remember">
            <label for="remember">Recordar inicio de sesión</label>
        </div>
        <button class="yellowbutton" type="submit">Iniciar sesión</button>
        <div class="register">
            <p>¿No tienes una cuenta? <a href="{% url 'register' %}">Regístrate</a></p>
        </div>
    </form>
</div> 
{% endblock %}