{% extends 'base.html' %}
{% load static %}

{% block title %}Manual de Lengua de Señas{% endblock %}

{% block navlinks %}
    <li><a href="{% url 'home' %}">Hogar</a></li>
    <li><a href="{% url 'lessons_list' %}">Lecciones</a></li>
    <li><a href="{% url 'profile' %}" class="purplebutton"><pan>Perfil</pan></a></li>
{% endblock %}

{% block main %}
<div class="manual-container">
    <div class="manual-description">
        <h1>Manual de Lengua de Señas</h1>
        <p>Bienvenido al manual de lengua de señas. Aquí encontrarás información teórica y cápsulas de video para aprender y mejorar tus habilidades en la lengua de señas.</p>
    </div>

    <div class="manual-content">
            <div class="theorical-content">
                <h3 class="centertext">La Lengua de Señas</h3>
                <p>
                    En Chile existen más de 213 mil personas adultas con discapacidad auditiva, de las cuales el 60% utiliza 
                    la lengua de señas como principal medio de comunicación. La lengua de señas es un sistema de comunicación que utiliza las manos, 
                    el cuerpo y la expresión facial para transmitir mensajes. Es una lengua natural, con gramática y estructura propias, y es utilizada por personas sordas y oyentes.
                </p>
                <p>
                    Sería incorrecto nombrarle lenguaje de señas en vez de lengua de señas, 
                    una explicación a esto es porque el lenguaje es algo universal de todos los seres humanos, 
                    y la lengua es algo reducido a cierto grupo, como lo es el español.
                </p>
            </div>
        </div>
        <h2 class="centext">Cápsulas de Video</h2>
        <div class="video-capsules">
            <div class="video-item">
                <video controls>
                    <source src="{% static 'videos/como.mp4' %}" type="video/mp4">
                    Tu navegador no soporta la etiqueta de video.
                </video>
                <p class="boxwhite">"¿Cómo estás?"</p>
            </div>
            <div class="video-item">
                <video controls>
                    <source src="{% static 'videos/quetegusta.mp4' %}" type="video/mp4">
                    Tu navegador no soporta la etiqueta de video.
                </video>
            <p class="boxwhite">"A tí, ¿qué es lo que te gusta?"</p>
            </div>
        </div>
    </div>
</div>
<style>
    .boxwhite {
        padding: 10px;
        display: inline-block;
        margin-top: 10px;
        font-weight: bold;
        font-size: 25px;
        margin-bottom: 100px;
    }
    .centext {
    text-align: center;
    margin-top: 100px;
    }
  
</style>
{% endblock %}