{% extends 'base.html' %}

{% load static %}

{% block title %}Perfil{% endblock %}

{% block navlinks %}
    <li><a href="#">Ayuda</a></li>
    <li><a href="{% url 'login' %}">Iniciar Sesión</a></li>
{% endblock %}

{% block main %}
    <div class="contintro">
        <div class="profile-container">
            <div class="profile-left">
                <div class="profile-image">
                    <img src="{% static 'images/profile_placeholder.png' %}" alt="Foto de perfil del usuario">
                </div>
                <div class="profile-info">
                    <h2>Nombre del Usuario</h2>
                    <p>usuario@gmail.com</p>
                    <p>Información adicional del usuario</p>
                </div>
            </div>
            <div class="profile-right">
                <div class="content_logros">
                    <h2 class="content_subtitle ui heading size-headinglg">LOGROS:</h2>
                    <div class="logro_card">
                        <div class="icon_tooltip">
                            <img src="{% static 'images/lengua.png' %}" alt="Logro 1" class="logro_icon">
                            <span class="tooltip_text">Logro 1 Primeras 2 Lecciones Completadas</span>
                        </div>
                    </div>
                    <div class="logro_card">
                        <div class="icon_tooltip">
                            <img src="{% static 'images/lengua.png' %}" alt="Logro 2" class="logro_icon">
                            <span class="tooltip_text">Logro 2 4 Lecciones Completadas</span>
                        </div>
                    </div>
                    <div class="logro_card">
                        <div class="icon_tooltip">
                            <img src="{% static 'images/lengua.png' %}" alt="Logro 1" class="logro_icon">
                            <span class="tooltip_text">Logro 3 6 Lecciones Completadas</span>
                        </div>
                    </div>
                    <div class="logro_card">
                        <div class="icon_tooltip">
                            <img src="{% static 'images/lengua.png' %}" alt="Logro 2" class="logro_icon">
                            <span class="tooltip_text">Logro 4 Haber leído todos los recursos</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}