{% extends 'base.html' %}
{% load static %}

{% block title %}Perfil de Usuario{% endblock %}

{% block navlinks %}
    <li><a href="{% url 'home' %}">Hogar</a></li>
    <li><a href="{% url 'manual' %}">Manual</a></li>
    <li><a href="{% url 'lessons_list' %}" class="purplebutton"><span>Lecciones</span></a></li>
{% endblock %}

{% block main %}
<div class="profile-container">
    <div class="profile-info">
        <div class="profile-overlay">
            <img src="{% static 'images/perfil.jpg' %}" alt="User Icon" class="profile-pic" id="ProfilePic">
            {% if user %}
                <h1 class="username">{{ user.username }}</h1>
                <p class="user-email">{{ user.email }}</p>
                <p class="user-info">Información adicional del usuario</p>
            {% else %}
                <h1 class="username">Usuario Anónimo</h1>
                <p class="user-email">correo@ejemplo.com</p>
                <p class="user-info">Por favor, inicia sesión para ver tu información.</p>
            {% endif %}
        </div>
    </div>
    
    <div class="logros">
        <h2>LOGROS:</h2>
        <div class="logro-list">
            <div class="logro-item">
                <img src="{% static 'images/user.png' %}" alt="Logro 1" class="logro-icon {% if user.is_authenticated %}full-opacity{% endif %}">
                <div class="logro-description">Iniciar sesión</div>
            </div>
            <div class="logro-item">
                <img src="{% static 'images/libro.png' %}" alt="Logro 2" class="logro-icon">
                <div class="logro-description">Descripción del Logro 2</div>
            </div>
            <div class="logro-item">
                <img src="{% static 'images/hand.png' %}" alt="Logro 3" class="logro-icon">
                <div class="logro-description">Descripción del Logro 3</div>
            </div>
        </div>
    </div>
</div>
<script>
document.addEventListener('DOMContentLoaded', function() {
    const logroItems = document.querySelectorAll('.logro-item');
    
    logroItems.forEach(item => {
        item.addEventListener('click', function() {
            const description = this.querySelector('.logro-description');
            description.style.display = 'block';
        });
    
        item.addEventListener('mouseleave', function() {
                const description = this.querySelector('.logro-description');
                description.style.display = 'none';
        });
    });
});
</script>
{% endblock %}

